@media (max-width: 1024px) {
  :root {
    --fs-h1: 60px;
    --fs-h2: 40px;
  }

  body {
    padding-bottom: 100px;
  }

  .btn {
    padding: 10px 30px;
  }

  .section-divider {
    margin-block: 60px;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-primary: 14px;
    --fs-h1: 40px;
    --fs-h2: 32px;
  }
}